<section class="card">

    <div class="card">
        <header class="card-header">
            <p class="card-header-title">
                <a href="/post/{{id}}">{{title}}</a>
            </p>
        </header>
    </div>

    <div class="card">
        <div class="card-content">

            <div class="content">
                <p>Encounter: {{sighting}}</p>
            </div>

            <div class="content">
                <p>Gator description: {{description}}</p>
            </div>

        </div>
    </div>

</section>