<div>
    <h1>Welcome, {{userName}} !</h1>
</div>

<div class="post-archive">
    <h2>Your Recent Sightings</h2>
    {{#each posts as |post| }}
    {{> post-details}}
    <p>Created on {{format_date date}}</p>

    <div id="edit-button" class="edit-button">
        {{!-- <button type="click" data-id="{{post.id}}">Edit</button> --}}
        <a href="/edit-post" class="button is-link">Edit
        </a>
    </div>

    <div class="delete-button">
        <button class="button is-danger" type="click" data-id="{{post.id}}">Delete</button>
    </div>
    
    {{/each}}

</div>

<script src="/js/dashboard.js"></script>