<div class="row"> 
  <div class="col-md-6">
    <h2 class="is-size-1">Signup</h2>
    <section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form class="form signup-form box">
            <div class="field">
              <label for="name-signup" class="label">Name</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="e.g. Bob" class="input" id="name-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="username-signup" class="label">Username</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="e.g. bobDaGod" class="input" id="username-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="email-signup" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="e.g. bobsmith@gmail.com" class="input" id="email-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password-signup" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" id="password-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success">
                Signup
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
  </div>

<div class="hero is-info is-full-height">
  <p>Already registered? Click here to login</p>
  <a href="/login" class="button is-dark">
    Log in
  </a>
</div>


<script src="./js/signup.js"></script>