<div class="row"> 
  <div class="col-md-6">
    <h2 class="is-size-1">Signup</h2>
    <section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-centered">
        <div class="column is-5-tablet is-4-desktop is-3-widescreen">
          <form class="form signup-form box">
            <div class="field">
              <label for="name-signup" class="label">Name</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="e.g. Bob" class="input" id="name-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="username-signup" class="label">Username</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="e.g. bobDaGod" class="input" id="username-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="email-signup" class="label">Email</label>
              <div class="control has-icons-left">
                <input type="text" placeholder="e.g. bobsmith@gmail.com" class="input" id="email-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <label for="password-signup" class="label">Password</label>
              <div class="control has-icons-left">
                <input type="password" placeholder="*******" class="input" id="password-signup" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              <button class="button is-success">
                Signup
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
  </div>

<<<<<<< HEAD
<div class="hero is-info is-full-height">
=======
  <form class="form signup-form">
    <div class="form-group">
      <label for="name-signup">name:</label>
      <input class="form-input" type="text" id="name-signup" />
    </div>
    <div class="form-group">
      <label for="username-signup">username:</label>
      <input class="form-input" type="text" id="username-signup" />
    </div>
    <div class="form-group">
      <label for="email-signup">email:</label>
      <input class="form-input" type="text" id="email-signup" />
    </div>
    <div class="form-group">
      <label for="password-signup">password:</label>
      <input class="form-input" type="password" id="password-signup" />
    </div>
    <div class="form-group">
      <button
        data-target="modal-js-example"
        class="button is-dark js-modal-trigger"
        type="submit"
      ><strong>Signup</strong></button>
    </div>
  </form>
</div>

<div>
>>>>>>> main
  <p>Already registered? Click here to login</p>
  <a href="/login" class="button is-dark">
    Log in
  </a>
</div>

<script src="./js/signup.js"></script>
<div id="modal-js-example" class="modal">
  <div class="modal-background"></div>

  <div class="modal-content">
    <div class="box">
      <p>Attention</p>
      Please select a password that is a minimum of 8 characters.
    </div>
  </div>

  <button class="modal-close is-large" aria-label="close"></button>
</div>