body {
    font-family:Helvetica, Arial, sans-serif
}

h1 {
    font-size: 34px;
}

#dashboard-background {
    background-image: url("https://wallpaperaccess.com/full/6490132.jpg");
    background-color: lightgreen
}