body {
    font-family:Helvetica, Arial, sans-serif
}

h1 {
    font-size: 34px;
}

/* .bg-img { 
    background-image: url() ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: rgb(103, 228, 35);

} */